header {
    z-index: 10;
    position: fixed;
    top: 24px;
    right: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    a {
        cursor: pointer;
        text-decoration: none;
        color: #000;
    }

    .title {
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: "Lora", serif;
            font-size: 24px;
            cursor: pointer;
            transition: 0.3s ease;
            color: #9c8d77;

            &:hover {
                color: #cfbc9e;
            }
        }

        .burger {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 7px;

            hr {
                margin: 0;
                width: 35px;
                height: 0.1em;
                background-color: #9c8d77;
                border: none;
                transition: all 0.3s ease;
            }

            &:hover hr {
                background-color: #cfbc9e;
            }
        }
    }

    .menu-hidden {
        opacity: 0;
        visibility: hidden;
    }

    .menu-visible {
        opacity: 1;
        visibility: visible
    }

    .menu {
        border: 3px solid #9c8d77;
        cursor: pointer;
        background-color: white;
        padding: 32px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 48px;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

        .circle {
            font-size: 12px;
        }

        h2 {
            font-size: 18px;

            &:hover {
                color: #9c8d77;
            }
        }
    }
}

.home_section {
    height: 85vh;
    background-image: url("assets/barrels.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    gap: 24px;
    place-items: center;
    place-content: center;

    button {
        padding: 12px 18px;
        border: 2px solid #7a9715;
        color: #7a9715;
        background-color: transparent;
        backdrop-filter: blur(2px);
        cursor: pointer;
        font-size: 24px;
        transition: 0.3s ease;

        &:hover {
            border: 2px solid white;
            color: white;
        }
    }

    h1 {
        padding-top: 48px;
        font-family: "Lora", serif;
        font-size: 48px;
        color: #fff;
        @media screen and (max-width: 640px) {
            font-size: 32px;
            text-align: center;
        }
    }

    span {
        color: #fff;
        font-weight: 300;
    }

    @media screen and (max-width: 1100px) {
        height: 70vh;
    }

    @media screen and (max-width: 650px) {
        background-image: url("assets/mobile-home-section.jpg");
    }
}


.arrow {
    margin-top: 48px;
    position: relative;
    border: 3px solid #fff;
    border-radius: 100%;
    width: 70px;
    height: 70px;

    span {
        height: 3px;
        width: 22px;
        position: absolute;
        background: #fff;
        transition: 0.4s ease;
    }

    span:first-child {
        transform: rotate(45deg);
        left: 25%;
        bottom: 35%;
    }

    span:nth-child(2) {
        transform: rotate(-45deg);
        left: 45%;
        bottom: 35%;
    }

    span:nth-child(3) {
        transform: rotate(45deg);
        left: 25%;
        bottom: 54%;
    }

    span:nth-child(4) {
        transform: rotate(-45deg);
        left: 45%;
        bottom: 54%;
    }
}

.arrow:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.arrow:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.arrow:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.arrow:hover span:nth-child(4) {
    transform: rotate(-225deg);
}

.introduction_section, .certification_section {
    position: relative;
    height: 50vh;
    padding: 0 96px 0 96px;
    background-image: url("assets/wine-bottles.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    div {
        position: absolute;
        left: 128px;
        top: -128px;
        width: 25vw;
        padding: 64px 96px 0 96px;
        background-color: #fff;


        h2 {
            font-size: 24px;
            font-weight: 500;
        }

        span {
            color: #cfbc9e;
        }

        p {
            padding-top: 32px;
            text-align: justify;
            line-height: 25px;
        }

        img {
            width: inherit;
            margin-left: -90px;
            mix-blend-mode: multiply;
        }
    }

    @media screen and (max-width: 1400px) {
        div {
            top: -50px;
            padding: 64px;
            width: 30vw;

            p {
                line-height: normal;
            }

            img {
                margin-left: -60px;
            }
        }
    }
    @media screen and (max-width: 1100px) {
        div {
            width: 40vw;

            img {
                width: 90%;
            }
        }
    }
    @media screen and (max-width: 800px) {
        height: 100vh;

        div {
            position: static;
            height: min-content;
            width: 100%;
            box-sizing: border-box;
        }
    }
    @media screen and (max-width: 640px) {
        height: auto;
        background-image: none;
        div {
            padding-bottom: 0;
        }
    }

    @media screen and (max-width: 500px) {
        div {
            padding: 32px;
            height: min-content;
            width: 100%;

            img {
                margin-left: -30px;
            }
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    h2 {
        position: relative;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: 500;

        &::before {
            font-family: "Lora", serif;
            content: 'WINES';
            position: absolute;
            top: -50px;
            color: #cfbc9e;
            font-weight: 500;
            font-size: 13vw;
            opacity: 0.2;
        }
    }

    hr {
        margin: 0;
        height: 3px;
        width: 40px;
        background-color: #cfbc9e;
        text-align: center;
        color: #cfbc9e;
        border: none;
    }

    p {
        width: 600px;
        text-align: center;
    }

    @media screen and (max-width: 640px) {
        gap: 32px;
        h2 {
            &::before {
                font-size: 20vw;
                top: -40px;
            }
        }

        p {
            width: 100%;

        }
    }
}

.wine_section {
    margin-top: 100px;
    padding: 50px 96px 150px 96px;

    .wines_container {
        padding: 96px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;
        justify-items: center;
        transition: 500ms;


        .wine_container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            height: 450px;
            cursor: pointer;

            img {
                height: 400px;
                width: 110px;
            }

            .wine-description {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    padding-top: 12px;
                    font-size: 18px;
                    font-weight: 500;
                }

                span {
                    padding-top: 4px;
                    color: #cfbc9e;
                }

                .wine_details {
                    display: none;
                    padding-top: 24px;
                    text-align: center;
                    line-height: 25px;

                    h3 {
                        color: #cfbc9e;
                    }
                }
            }
        }
    }

    .wines_container:has(.wine-1:hover) {
        grid-template-columns: 1fr 0.5fr 0.5fr;

        .wine-1 {
            grid-template-columns: 0.5fr 1fr;
        }

        .wine_details-1 {
            display: block;
        }
    }

    .wines_container:has(.wine-2:hover) {
        grid-template-columns: 0.5fr 1fr 0.5fr;

        .wine-2 {
            grid-template-columns: 0.5fr 1fr;
        }

        .wine_details-2 {
            display: block;
        }
    }

    .wines_container:has(.wine-3:hover) {
        grid-template-columns: 0.5fr 0.5fr 1fr;

        .wine-3 {
            grid-template-columns: 0.5fr 1fr;
        }

        .wine_details-3 {
            display: block;
        }
    }

    .wine_gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;

        figure {
            height: 250px;
            width: 250px;
            overflow: hidden;
            cursor: pointer;
        }

        figure img {
            height: auto;
            width: 250px;
            transition: .3s ease-in-out;
        }

        figure:hover img {
            transform: scale(1.3);
        }
    }

    @media screen and (max-width: 800px) {
        .wines_container {
            padding: 96px 0;
            display: flex;
            flex-direction: column;
            gap: 48px;

            .wine_container {
                display: flex;
                gap: 24px;
                align-items: center;

                .wine-description .wine_details {
                    display: block;
                    line-height: normal;
                }
            }
        }
    }
    @media screen and (max-width: 640px) {
        margin-top: 0;
        padding-top: 96px;
    }
    @media screen and (max-width: 450px) {
        .wines_container {
            padding: 96px 0;
            display: flex;
            flex-direction: column;
            gap: 64px;

            .wine_container {
                display: flex;
                flex-direction: column;
                gap: 24px;
                align-items: center;
                height: 100%;

                .wine-description .wine_details {
                    display: block;
                    line-height: normal;
                }
            }
        }
    }
}

.certification_section {
    background-image: url("assets/landscape.webp");
    height: 80vh;

    div {
        top: -70px;
        padding: 64px 96px;
        background-color: #fbf5e5;
    }

    @media screen and (max-width: 1400px) {
        height: 60vh;
        div {
            padding: 64px;
        }
    }

    @media screen and (max-width: 1100px) {
        height: 55vh;
        div {
            width: 50vw;
        }
    }

    @media screen and (max-width: 950px) {
        height: 60vh;
        div {
            width: 50vw;
        }
    }
    @media screen and (max-width: 800px) {
        height: 100vh;
        div {
            padding: 64px;
            height: min-content;
            width: 100%;
            box-sizing: border-box;
        }
    }

    @media screen and (max-width: 500px) {
        div {
            padding: 32px;
        }
    }
}

.process_section {
    position: relative;
    margin-top: 96px;
    padding: 0 96px 0 96px;

    h2 {
        font-family: "Lora", serif;
        text-align: end;
        color: #cfbc9e;
        font-weight: 500;
        font-size: 12vw;
        opacity: 0.2;
    }

    .process_container {
        display: grid;
        grid-template-columns: min-content min-content;
        justify-items: center;
        justify-content: center;
        padding: 20px 96px 0 96px;
        grid-gap: 12px;
        overflow: hidden;

        &:before {
            content: "";
            background-image: url("assets/grape-leaves.png");
            position: absolute;
            z-index: -1;
            width: 650px;
            height: 650px;
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
            left: -10px;
            bottom: -90px;
            transform: rotate(20deg);
            filter: blur(2px);
        }

        img {
            width: auto;
            height: 300px;
        }

        img:nth-of-type(1) {
            grid-column: 1;
            grid-row: 1/2;
        }

        img:nth-of-type(2) {
            grid-column: 1;
            grid-row: 2/3;
        }

        img:nth-of-type(3) {
            margin-top: -60px;
            height: auto;
            max-width: 450px;
            grid-column: 2;
            grid-row: 2/3;
        }

        .process_description {
            grid-column: 2;
            grid-row: 1;
            justify-self: center;
            align-self: center;

            h3 {
                font-size: 18px;
                font-weight: 500;
                padding-bottom: 24px;
            }

            p {
                padding-top: 12px;
            }
        }
    }

    @media screen and (max-width: 1100px) {
        .process_container {
            padding: 0;

            &:before {
                width: 550px;
                height: 550px;
            }

            img {
                height: 250px;
            }

            img:nth-of-type(3) {
                width: 400px;
            }
        }
    }

    @media screen and (max-width: 800px) {
        margin-top: 48px;
        padding-top: 64px;

        h2 {
            text-align: center;
            font-size: 13vw;
        }

        .process_container {
            display: flex;
            gap: 32px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: -50px;

            &:before {
                display: none;
            }


            .process_description {
                text-align: center;

                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    padding-bottom: 48px;
                }
            }

            img {
                width: 250px;
                height: 250px;
                object-fit: cover;
            }

            img:nth-of-type(3) {
                margin-top: 0;
                width: 250px;
                height: 250px;
                object-fit: cover;
            }
        }
    }

    @media screen and (max-width: 500px) {
        h2 {
            font-size: 48px;
        }

        .process_container {
            margin-top: -30px;
        }
    }
}

.winemakers_section {
    margin-top: 60px;
    padding: 90px 96px 96px 96px;
    position: relative;

    &:before {
        content: "";
        background-image: url("assets/purple-grape-1 (Custom).png");
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 150px;
        width: 500px;
        height: 500px;
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
    }

    h2 {
        &:before {
            font-family: "Lora", serif;
            content: 'WINEMAKER';
            position: absolute;
            top: -90px;
            color: #cfbc9e;
            font-weight: 500;
            font-size: 13vw;
            opacity: 0.2;
        }
    }

    .winemakers_container {
        padding-top: 128px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow: hidden;
        gap: 48px;

        .winemaker {
            width: 337px;
            display: flex;
            flex-direction: column;
            align-items: center;

            figure {
                overflow: hidden;
                cursor: pointer;
            }

            figure, img {
                height: 450px;
                width: auto;
                transition: .3s ease-in-out;

                @media screen and (max-width: 450px) {
                    height: 300px;
                }
            }


            figure:hover img {
                transform: scale(1.3);
            }

            h3 {
                padding-top: 12px;
                font-size: 24px;
                font-weight: 500;
            }

            span {
                font-family: "Lora", serif;
                font-size: 20px;
                padding-top: 4px;
                color: #cfbc9e;
            }

            p {
                padding-top: 24px;
                text-align: justify;
                line-height: 25px;
            }
        }
    }

    @media screen and (max-width: 1400px) {
        &:before {
            width: 350px;
            height: 350px;
        }
    }

    @media screen and (max-width: 1100px) {
        &:before {
            display: none;
        }

        h2 {
            &:before {
                top: -50px;
            }
        }
    }

    @media screen and (max-width: 640px) {
        h2 {
            &:before {
                top: -30px;
            }
        }
    }
}

.contact_section {
    padding: 96px;
    display: flex;
    gap: 32px;

    .contact {
        max-width: 35vw;
        justify-self: end;


        h2 {
            padding-top: 12px;
            font-size: 24px;
            font-weight: 500;
        }

        p {
            font-family: "Lora", serif;
            font-size: 20px;
            padding-top: 12px;
            color: #cfbc9e;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 50%;

        textarea:focus, input:focus {
            outline: none;
        }

        label {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            width: 100%;
        }

        label span {
            visibility: hidden;
            font-size: 0;
            transition: font-size 0.3s ease-in-out;
        }

        input, textarea {
            border: 2px solid #cfbc9e;
            padding: 18px 24px;
            width: 100%;
        }

        input:focus ~ span, textarea:focus ~ span {
            visibility: visible;
            font-size: 12px;
            margin-right: 16px;
            font-weight: 500;
            min-width: max-content;
        }

        .button_container {
            display: flex;
            justify-content: space-between;

            span {
                font-family: "Lora", serif;
            }

            button {
                cursor: pointer;
                align-self: end;
                width: min-content;
                font-family: "Lora", serif;
                background-color: #fff;
                border: 2px solid #cfbc9e;
                color: #cfbc9e;
                font-size: 18px;
                padding: 12px 20px;
                transition: 0.3s ease;

                &:hover {
                    border: 2px solid #9c8d77;
                    color: #9c8d77;
                }
            }
        }
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
        .contact {
            max-width: 100%;
        }

        form {
            width: 100%;
        }
    }
}

footer {
    padding: 48px 96px;
    background-color: #04032b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;

    h2 {
        padding: 12px 18px;
        display: inline;
        background-color: #fff;
        color: #000;
    }

    a {
        color: #fff;
        letter-spacing: 1px;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s ease;

        &:hover {
            color: #cfbc9e;
        }
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;
            background-color: white;
        }
    }
}

.introduction_section, .wine_section, .certification_section, .process_section, .winemakers_section, .contact_section {
    @media screen and (max-width: 950px) {
        padding-left: 48px;
        padding-right: 48px;
    }
    @media screen and (max-width: 500px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.introduction_section, .certification_section {
    padding: 0;
}